* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

input {
  color: black;
}

#canvas {
  position: absolute;
  background-color: black;
  outline: solid black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#toolbar {
  display: grid;
  top: 10px;
  left: calc(100% - 60px);
  width: 50px;
  height: calc(100% - 20px);

  grid-template-rows: repeat(20, 50px);
  grid-row-gap: 2px;
}

#fullscreen {
  background-image: url(../textures/enterFullscreen.png);
}

#play {
  background-image: url(../textures/play.png);
}

#orbits {
  background-image: url(../textures/orbits.png);
}

#move {
  background-image:  url(../textures/move.png);
}

#planetOptions {
  display: none;
  top: 10px;
  left: 10px;
  width: 22%;
  height: 75%;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 40px repeat(4, 25px);
  grid-auto-flow: column;
  grid-row-gap: 2px;
}

#pickCoords {
  grid-row-start: 4;
  grid-row-end: 6;
}


.menu {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.8);
  border: solid rgb(50, 50, 50) 2px;
  border-radius: 7px;
  z-index: 100;
}

.button {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: lightgrey;
  border-radius: 7px;
  color: black;
}

.textInput {
  border-radius: 7px;
  text-align: center;
}

.tooltip {
  display: block;
  width: 100%;
  height: 100%;
}

.planetOptionsInner.heading {

}

.planetOptionsInner {
  margin: 5px;
}
